.dashboard {
    height: 100vh;
}

.dashboard-sidebar {
    display: grid;
    align-items: stretch;
    grid-template-rows: .08fr 1fr .06fr;
    gap: 6.7rem;
    flex: 0 0 20%;
    padding: 40px 50px 40px 40px;
    background-color: var(--white-text-color);
}

.dashboard-nav--item {
    border-radius: var(--regular-border-radius);
    padding: 16px 20px;
}

.dashboard-nav--item.active {
    background-color: var(--background);
}

.dashboard-sidebar--mainpage {
    gap: 12px;
}

.dashboard-mainpage--logo {
    background-color: var(--background);
    border-radius: var(--border-radius-12);
    height: 58px;
    width: 58px;
    padding: 20px 8px;
}

.dashboard-mainpage--title {
    color: var(--accent-background);
}

.dashboard-mainpage--user-mail {
    color: var(--additional-text-color);
}

.dashboard-info {
    flex: 0 0 80%;
    padding: 60px 40px;
    background-color: var(--background-light);
}

.dashboard-info--top {
    display: flex;
    align-items: center;
    gap: 40px;
}

.dashboard-top--title {
    font-family: var(--title-font);
    color: var(--accent-background);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3em;
}

.dashboard-top--subtitle {
    max-width: 498px;
    color: var(--additional-text-color);
}