.search-panel-block {
    max-width: 93.75rem;
    margin: auto;
}

.search-panel-form {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 70rem;
    margin: 0 0 0 auto;
    padding: .75rem 1.25rem;

    border: 1px solid var(--text-faceless);
    border-radius: 25rem;
}

.panel-form {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.panel-choose-date,
.number-of-people  {
    display: flex;
    align-items: center;
    gap: .625rem;
}

.panel-number-of-people {

    display: flex;
    align-items: center;
    gap: 1rem;

    &:before {
        content: '';
        
        display: block;
        height: 2rem;
        width: 1px;

        background-color: var(--text-faceless);
    }
}

.search-button {
    display: grid;
}

.choose-popover {
    position: fixed;

    width: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(74, 83, 95, .4);

    display: grid;
    place-items: center;
    place-content: center;

    z-index: 9;
}

.choose-popover-container {
    background-color: var(--main-white);

    border-radius: .5rem;

    
    padding: 1.5rem 0;

    position: relative;

    min-height: 37.5625rem;
}

.close-modal {
    position: absolute;

    top: 1.85rem;
    right: 2.16rem;
}


.modal-buttons {
    padding: 1.5rem 1.5rem  0 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.transparent-button {
    border: 1px solid var(--main-accent);
    border-radius: 0.25rem;
    
    padding: 0.75rem 3.41rem;

    color: var(--text-accent);
    font-weight: 500;
    font-size: 1.125rem;
}

.regular-button {
    border-radius: 0.25rem;
    
    background-color: var(--main-accent);

    padding: 0.75rem 3.41rem;

    color: var(--main-white);
    font-weight: 500;
    font-size: 1.125rem;
}