.date-picker-container {
    background-color: var(--main-white);

    padding: 1.5rem 0;
    
    display: grid;
    gap: 0.625rem;

    min-width: 27.5rem;

    border-radius: 0.5rem;
}

.date-picker-title,
.current-month {
    color: var(--text-accent);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 110%;
}

.date-picker-title {
    max-width: 24.5rem;
    width: 100%;

    margin: auto {
        bottom: 2rem;
    }
}

.current-month {
    text-align: center;
    margin: 1.5rem 0;
}


table {
    margin: auto;
}

thead {
    color: var(--text-faceless);
    text-transform: uppercase;

    border-bottom:  1px solid var(--text-faceless);

    &tr {
        padding-bottom: .87rem;
    } 
}

.day-cell {
    width: 2.5rem;
    height: 2.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    font-size: 1.125rem;
    font-weight: 500;
    line-height: 125%;

    color: var(--text-dark);

    border-radius: 1.75rem;

    &:hover {
        background-color: var(--main-secondary);
        color: var(--text-custom);
    }

    &.disabled {
        color: var(--text-faceless);
    }

    &.today {
        color: var(--text-accent);
    }

    &.selected {
        color: var(--main-white);
        background-color: var(--main-accent);
    }
}