.date-picker-container {
    display: grid;
    gap: 0.625rem;

    min-width: 27.5rem;

    border-bottom: 1px solid var(--text-unnoticed);

    padding-bottom: 1.125rem;
}

.months-wrapper-vertical {
    max-height: 29.375rem;

    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: .5rem;
        height: 3.75rem;
        
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #D9D9D9;

        border-radius: .5rem;
    }
}

.date-picker-title,
.current-month {
    color: var(--text-accent);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 110%;
}

.date-picker-title {
    max-width: 24.5rem;
    width: 100%;

    margin: auto {
        bottom: 1rem;
    }
}

.current-month {
    text-align: center;
    margin: 1.5rem 0;
}


table {
    margin: auto;
}

thead {
    color: var(--text-faceless);
    text-transform: uppercase;

    border-bottom:  1px solid var(--text-unnoticed);

    width: 100%;

    &tr {
        padding-bottom: .87rem;
    }

}

.weekday-header {
    width: 100%;
}

.days-names {
    max-width: 23.5rem;
    width: 100%;

    margin: auto;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.day-name {
    width: 2.5rem;
    height: 2.5rem;
        
    display: flex;
    align-items: center;

    font-size: 1.25rem;
    font-weight: 500;
    line-height: 125%;
    color: var(--text-faceless);
    text-transform: uppercase;
}

.data-raw {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    td {
        width: 2.5rem;
    }
}

.month-day,
.day-cell {
    width: 2.5rem;
    height: 2.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    font-size: 1.125rem;
    font-weight: 500;
    line-height: 125%;

    color: var(--text-dark);

    border-radius: 1.75rem;

    cursor: pointer;
}

.day-cell {

    &:hover {
        background-color: var(--main-secondary);

        color: var(--text-custom);
    }

    &.disabled {
        color: var(--text-faceless);
    }

    &.today {
        color: var(--text-accent);
    }

    &.selected {
        color: var(--main-white);

        background-color: var(--main-accent);
    }
}


.month-block {
    &table {
        max-width: 23.5rem;
        width: 100%;
    }
}