.guests-popover-container {
    padding: 1.5rem;

    border-top: 1px solid var(--text-unnoticed);
    border-bottom: 1px solid var(--text-unnoticed);

    height: 29.375rem;

    overflow-y: auto;

    display: grid;
    gap: 2rem;

    &::-webkit-scrollbar {
        width: .5rem;
        height: 3.75rem;
        
        background-color: transparent;
    }
}

.guests-popover-title-container {
    padding-inline: 1.5rem;
}


.guests-popover-title {
    color: var(--text-accent);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 110%;

    margin: auto {
        bottom: 1rem;
    }
}

.room-title-row {
    margin-bottom: 1rem;  
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number-name {
    margin: 0;
}

.guests-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: .75rem;
}

.guests-name-block {
    display: grid;
}

.guests-name {
    color: var(--text-dark);
    font-size: 1.125rem;
    font-weight: 500;

    &-note {
        color: var(--Text-Faceless, #9C9C9D);
        font-size: 0.875rem;
        font-weight: 500;
    }
}

.guests-change {
    display: flex;
    align-items: center;
    gap: 1.37rem;
}

.add-room-btn {
    background-color: var(--main-secondary);
    border-radius: .25rem;

    width: 100%;

    padding: .75rem 1rem;

    font-size: 1.125rem;
    color: var(--text-custom);
    font-weight: 500;
}

.remove-room-btn {
    color: var(--main-white);
    font-weight: 500;

    padding: .2rem .8rem;

    border-radius: .25rem;

    background-color: var(--main-accent);
}