@import 'tailwindcss';
@import './styles/admin/login/login.css';
@import './styles/admin/dashboard/dashboard.css';
@import './styles/admin/dashboard/rooms/list.css';

@import './styles/components/sureModal.css';

:root {
  --main-white: rgba(253, 255, 255, 1);
  --main-admin: rgba(249, 249, 249, 1);
  --main-bubbles: rgba(229, 246, 248, 1);
  --main-secondary: rgba(136, 218, 239, 1);
  --main-accent: rgba(74, 144, 170, 1);
  --main-custom: rgba(38, 107, 132, 1);
  --main-dark: rgba(76, 76, 76, 1);

  --text-white: rgba(253, 255, 255, 1);
  --text-secondary: rgba(136, 218, 239, 1);
  --text-accent: rgba(74, 144, 170, 1);
  --text-custom: rgba(38, 107, 132, 1);
  --text-dark: rgba(76, 76, 76, 1);
  --text-faceless: rgba(156, 156, 157, 1);
  --text-unnoticed: rgba(212, 212, 212, 1);

  --map-beach: rgba(255, 251, 232, 1);

  --map-zone-afk: rgba(242, 242, 242, 1);
  --map-priority-afk: rgba(186, 226, 240, 1);
  --map-small-priority-afk: rgba(229, 246, 248, 1);

  --map-zone-on: rgba(217, 217, 217, 1);
  --map-priority-on: rgba(136, 218, 239, 1);
  --map-small-priority-on: rgba(184, 241, 255, 1);

  --title-font: 'Unbounded', sans-serif;
  --regular-font: 'Manrope', sans-serif;

  --title-fsz-large: 3rem;
  --title-fsz-medium: 1.5rem;
  --title-fsz-little: 1rem;

  --heading-fsz-large: 1.5rem;
  --heading-fsz-medium: 1.25rem;

  --text-fsz-large: 1.25rem;
  --text-fsz-medium: 1rem;
  --text-fsz-little: 0.875rem;

  --regular-border-radius: 0.375rem;
}

body {
  background: var(--main-white);
}

@font-face {
  font-family: 'Unbounded';
  src: url('/fonts/Unbounded/Unbounded-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

div,
input,
button,
a,
p,
span,
b,
strong {
  font-family: var(--regular-font);
}

button {
  cursor: pointer;
}

.action-button {
  background-color: var(--main-custom);

  border-radius: var(--regular-border-radius);

  color: var(--text-white);

  width: fit-content;

  padding: round(0.8rem, 2px) round(3.6rem, 2px);

  cursor: pointer;
}

.action-button:hover {
  background-color: var(--main-secondary);
}
