.slogan-block {
    max-width: 93.75rem;

    margin: auto {
        top: 3.75rem;
        bottom: 2.5rem;
    }
}

.slogan-text {
    color: var(--text-dark);
    font-size: 5.25rem;
    font-weight: 500;
    text-transform: uppercase;
}

.__right {
    text-align: right
}