.rooms-list {
    margin-top: 3rem;
    
    max-width: 1415px;
    width: 100%;
}

.room-item {
    display: grid;
    grid-template-columns: .4fr .4fr .4fr 1fr;
    align-items: center;

    padding: 2.5rem 2rem;

    border-bottom: 2px solid var(--text-unnoticed);

    color: var(--text-dark);
}


.room-item__heading {
    border: none;
    border-radius: var(--regular-border-radius);

    background-color: var(--main-bubbles);

    padding: 1.5rem 2rem;

    font-weight: 500;
}


.room-subItem {
    text-align: center;
}

.room-subItem:first-child {
    text-align: left;
}

.room-subItem:last-child {
    text-align: right;
}

.subItem-edit-room {
    color: var(--text-custom);
    font-weight: 500;
}

.room-btn-block {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.room-edit-btn,
.room-delete-btn {
    background-color: transparent;

    border: 1px solid var(--main-accent);
    border-radius: var(--regular-border-radius);

    width: fit-content;

    color: var(--text-accent);
    font-weight: 500;

    padding: round(.6rem, 2px) 3rem;
}