.rooms-container {
    max-width: 93.75rem;

    margin: auto {
        top: 6.25rem;
    }
}

.rooms-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-dark);
    text-transform: uppercase;

    margin-bottom: 3rem;
}